Q1)Write a Python program to print 'Hello, World!'.

In [2]:
print("'Hello, World!'")

'Hello, World!'

2) Write a Python program to add two numbers

In [5]:
a=10
b=20
c=a+b
print(c)

30

 3)Write a Python program to find the square root of a number.

In [7]:
import math
a = 16
print(math.sqrt(a))

4.0

4.Write a Python program to calculate the area of a triangle.

In [11]:
b = 4
h = 6
area = 0.5*b*h
print(area)

12.0

5. Write a Python program to swap two variables.

In [19]:
def swap(a, b):
    return b, a

a = 3
b = 5
a, b = swap(a, b)
print(a,b)

5 3

6. Write a Python program to generate a random number.

In [21]:
import random

random_number = random.randint(1, 50)
print(random_number)

29

7. Write a Python program to convert kilometers to miles.

In [25]:
km = float(input("Enter kilometers: "))
miles = km * 0.62137
print(miles)

Enter kilometers: 3
1.86411

8. Write a Python program to check if a number is positive, negative or zero.

In [26]:
number =int(input("Enter a number: "))
if number > 0:
    print("positive")
elif number < 0:
    print("negative")
else:
    print("zero")

Enter a number: 5
positive

9. Write a Python program to check if a number is odd or even.

In [27]:
n=int(input("Enter a number: "))
if n%2==0:
    print("even")
else:
    print("odd")

Enter a number: 7
odd

10. Write a Python program to check if a year is a leap year.

In [29]:
n=int(input("Enter a year: "))
if n%4==0:
    print("leap year")
else:
    print("not leap year")

Enter a year: 2020
leap year

11. Write a Python program to find the largest of three numbers.

In [31]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
largest = max(a,b,c)
print("The largest number is", largest)

Enter first number: 56
Enter second number: 76
Enter third number: 14
The largest number is 76

12. Write a Python program to find the factorial of a number

In [36]:
n=int(input("Enter a number: "))
fact=1
for i in range(1,n+1):
    fact=fact*i
print(fact)

Enter a number: 7
5040

13. Write a Python program to display the multiplication table.

In [38]:
n=int(input("Enter a number: "))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

14. Write a Python program to print the Fibonacci sequence.

In [39]:
n=int(input("Enter a number: "))
a=0
b=1
print(a)
print(b)
for i in range(2,n):
    c=a+b
    print(c)
    a=b
    b=c

Enter a number: 5
0
1
1
2
3

15. Write a Python program to check if a number is an Armstrong number.

In [44]:
n=int(input("Enter a number: "))
sum=0
temp=n
while temp>0:
    digit=temp%10
    sum+=digit**3
    temp//=10
if sum == n:
    print("Armstrong")
else:
    print("Not Armstrong")

Enter a number: 47
Not Armstrong

16. Write a Python program to find the sum of natural numbers

In [47]:
n=int(input("Enter a number: "))
sum = n * (n + 1) // 2
print(sum)

Enter a number: 5
15

17. Write a Python program to find the sum of digits of a number.

In [51]:
n=int(input("Enter a number: "))
sum=0
while n>0:
    digit=n%10
    sum+=digit
    n//=10
print(sum)

Enter a number: 67
13

18. Write a Python program to reverse a number.

In [52]:
n = input("Enter a number: ")
rev = "".join(reversed(n))
print(rev)

Enter a number: 12345
54321

19. Write a Python program to convert decimal to binary, octal and hexadecimal.

In [53]:
n = int(input("Enter a number: "))
print("Binary:", bin(n))
print("Octal:", oct(n))
print("Hexadecimal:", hex(n))

Enter a number: 50
Binary: 0b110010
Octal: 0o62
Hexadecimal: 0x32

20. Write a Python program to find HCF or GCD of two numbers.

In [62]:
import math

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

hcf = math.gcd(a, b)
print(hcf)

Enter the first number: 30
Enter the second number: 58
2

21. Write a Python program to find LCM of two numbers.

In [63]:
n1 = int(input("Enter the first number: "))
n2 = int(input("Enter the second number: "))

lcm = (n1 * n2) // math.gcd(n1, n2)
print(lcm)

Enter the first number: 25
Enter the second number: 60
300

22. Write a Python program to count the number of each vowel in a string.

In [65]:
n=input("Enter a string: ")
vowels = "aeiou"
count = {}
for char in vowels:
    count[char] = n.count(char)
print(count)

Enter a string: sudharsan
{'a': 2, 'e': 0, 'i': 0, 'o': 0, 'u': 1}

23. Write a Python program to remove punctuation from a string.

In [70]:
n=input("Enter a string: ")
punctuations = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for char in n:
    if char in punctuations:
        n = n.replace(char, "")
print(n)

Enter a string: Hello,world!""
Helloworld

24. Write a Python program to sort a list of numbers in ascending order.

In [71]:
numbers = [5, 2, 8, 1, 9]
numbers.sort()
print("Sorted list:", numbers)

Sorted list: [1, 2, 5, 8, 9]

25. Write a Python program to merge two lists and sort it.

In [72]:
n1 = [1, 3, 5, 7, 9]
n2 = [2, 4, 6, 8, 10]
merged = n1 + n2
merged.sort()
print("Merged and sorted list:", merged)

Merged and sorted list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]